.burger-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: toRem(70);
  height: toRem(70);
  border-radius: 50%;
  background-color: #ffffff;
  gap: toRem(8);
  &__line {
    width: toRem(30);
    height: toRem(2);
    background-color: #000;
  }
}
