.title {
  color: #fff;
  &__first {
    display: block;
    font-size: toRem(50);
    font-weight: 800;
    margin-bottom: toRem(10);
    animation: leftToRight 1.7s ease 0.2s;
    letter-spacing: toRem(10);
    text-transform: uppercase;
    backface-visibility: hidden;
  }
  &__second {
    display: block;
    font-size: toRem(40);
    font-weight: 300;
    animation: rightToLeft 1.7s ease 0.2s;
    letter-spacing: toRem(5);
    backface-visibility: hidden;
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(toRem(-100));
  }
  80% {
    transform: translateX(toRem(10));
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(toRem(100));
  }
  80% {
    transform: translateX(toRem(-10));
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
