html {
  font-size: pxToPercent(16);
  @include respond(tab-land) {
    font-size: pxToPercent(10);
  }
  @include respond(tab-port) {
    font-size: pxToPercent(8);
  }
  @include respond(phone) {
    font-size: pxToPercent(7);
  }
}
body {
  font-family: Roboto, sans-serif;
  font-size: toRem(16);
  font-weight: 400;
  padding: $global-padding;
  letter-spacing: toRem(2);
  color: $text-color;
  background-color: $text-color-white;
}
.container {
  position: relative;
  z-index: 0;
  background-color: #f7f7f7;
}
