html {
  font-size: pxToPercent(16);
}
body {
  font-family: Roboto, sans-serif;
  font-size: toRem(16);
  font-weight: 400;
  padding: $global-padding;
  letter-spacing: toRem(2);
  color: $text-color;
  background-color: $text-color-white;
}
.container {
  background-color: transparentize(#f7f7f7, 0.3);
}
