.text-align-center {
  text-align: center;
}
.margin-bottom-10px {
  margin-bottom: toRem(10);
}
.margin-bottom-30px {
  margin-bottom: toRem(30);
}
.margin-bottom-50px {
  margin-bottom: toRem(50);
}
.margin-bottom-80px {
  margin-bottom: toRem(80);
}
