@import "reset";
@import "variables";
@import "components/container";
@import "components/logo";
@import "components/title";
@import "components/burger-menu";
@import "components/button";

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: var(--global-padding);
  letter-spacing: 2px;
  color: var(--text-color, #777);
  background-color: white;
}

.header {
  position: relative;
  min-height: 95vh;
  padding: 50px;
  background:
    linear-gradient(
      90deg,
      rgba(186, 133, 84, 0.7) 0.03%,
      rgba(1, 1, 1, 0.7) 99.94%
    ),
    url("img/header-background.png") center / cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 2 * var(--global-padding));
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &__title {
    margin-bottom: 50px;
  }
}
